label {
  float: left;
  text-align: left;
  width: 150px;
}

.color-control-button {
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
  cursor: pointer;
}

.function-control-button {
  width: 45%;
  border-radius: 12px;
  border: none;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
  cursor: pointer;
}

#red-med {
  background-color: red;
}

#green-med {
  background-color: green;
}

#purple-slow {
  background-color: purple;
}

#rainbow {
  background-color: rgb(236, 103, 196);
}

#stop {
  background-color: rgb(248, 35, 7);
  margin-top: 20px;
}

#next {
  background-color: rgb(35, 248, 7);
  float: right
}

#previous {
  background-color: rgb(7, 220, 248);
  float: left
}

li {
  list-style: none;
}

.button-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.control-buttons  {
  margin-top: 20px;
  margin-bottom: 20px;
}


.main-title {
  font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin-bottom: 0;
  text-align: center;
  padding: 0.5rem;
  border: 20px solid #4a4a4a;
  border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><circle cx="24" cy="24" r="8" fill="%23353535"/></svg>') 20 round;
  background: linear-gradient(45deg,
      #8f8f8f 0%,
      #c5c5c5 25%,
      #ebebeb 50%,
      #c5c5c5 75%,
      #8f8f8f 100%);
  box-shadow:
    inset 0 0 50px rgba(0, 0, 0, 0.3),
    0 5px 15px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

body {
  background: url('background.png') repeat center center fixed;
}